body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #031D44;
}

.bg-primary {
    background-color: #9a3ee6!important;
}

h1, h2, h3, h4 {
    color: rgb(194, 194, 194);
}

h1 {
    font-size: 4em;
}

p {
    color: rgb(194, 194, 194);
}

.welcome {
    align-content: center;
}

.bookshelf-container {
    align-content: center;
}

.list-categories {
    display: flex;
    justify-content: space-around;
}

.recommendations {
    display: flex;
    justify-content: center;
}

.read-books, .rated-books {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.author-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.book {
    display: flex;
    flex-direction: column;
    color: white;
    width: 200px;
    height: 200px;
    margin: 30px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-align: center;

    border-radius: 25px;
}

.rating {
    color: yellow;
}

#book1, #book2, #book3 {
    background-color: #DF2935;
}

#book4, #book5, #book6 {
    background-color: #01BAEF;
}

